<launch>

  <param name="tf_prefix" value="$(arg name)" />

  <node name="$(arg name)_BASE2CAM" pkg="tf" type="static_transform_publisher" args="0.12 -0.03 0.195 -1.57 0 -2.22 $(arg name)/base_link $(arg name)/camera_link 100" />
  <node name="$(arg name)_DIAGNOSTICS" pkg="diagnostics" type="diagnostics" args="$(arg name)" />
  <node name="$(arg name)_ABRIDGE" pkg="sipi_controller" type="abridge" args="$(arg name)" />
  <node name="$(arg name)_BEHAVIOUR" pkg="sipi_controller" type="sipi_controller" args="$(arg name)" output="screen"/>
  <node name="$(arg name)_OBSTACLE" pkg="obstacle_detection" type="obstacle" args="$(arg name)" />

  <node pkg="robot_localization" type="navsat_transform_node" name="$(arg name)_NAVSAT" respawn="false">

      <param name="magnetic_declination_radians" value="0.0"/>
      <param name="yaw_offset" value="1.57079632679"/>
      <param name="world_frame" value="map"/>
      <param name="frequency" value="10"/>

      <remap from="/imu/data" to="/$(arg name)/imu" />
      <remap from="/gps/fix" to="/$(arg name)/fix" />
      <remap from="/odometry/filtered" to="/$(arg name)/odom/ekf" />

      <remap from="/odometry/gps" to="/$(arg name)/odom/navsat" />
  </node>
  <include file="$(find sipi_controller)/launch/localization.launch />
  <include file="$(find sipi_controller)/launch/apriltags.launch />
</launch>
